html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  align-self: auto;
  font-weight: normal;
  letter-spacing: -.35px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

main {
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1 col2 col3";
  gap: .75em;
}

.col1 {
  grid-area: col1;
  padding: 0;
  margin: -.15rem 0 0;
}

.col2 {
  grid-area: col2;
  padding: 0;
  margin: -.15rem 0 0;
}

.col3 {
  grid-area: col3;
  padding: 0;
  margin: -.15rem 0 0;
}

h1, h2, dt {
  font-style: italic;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
  margin: 1.5rem 1rem;
}

h2 {
  font-size: 1.5rem;
}

dd {
  margin-left: 1rem;
}

figcaption {
  margin: .75rem 1rem 1rem;
}

.banner {
  grid-area: banner;
  position: relative;
  text-align: left;
  color: white;
  margin-bottom: -.25rem;
}

.bottom-left {
  padding: 1.5rem 1rem;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* font-family: "Merriweather", serif; */
