html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-style: italic;
}

body {
  align-self: auto;
  grid-template-areas:
    "banner"
    "main";
}

.main-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .75rem;
}

header {
  grid-area: banner;
}

main {
  grid-area: main;
}


/* font-family: "Merriweather", serif; */
